<% include ./layout %>
<body>
  <h1 class='text-center'>Stanley's URL Shortener</h1>
  <form id ='form' role='form'>
    <div class='container'>
      <hr>
      <div class='form-group'>
        <input class='form-control' placeholder='Enter the link you want to shorten' id='input'>
        <button type='submit' class='btn btn-primary pull-right'>Submit</button>
      </div>
    </div>
  </form>
  <script>
    $(document).ready(function(){
        $('#form').submit(function(){
          event.preventDefault();
          window.open('/new/'+encodeURIComponent($('input').val()), '_top');
        })
    })
  </script>
</body>