<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stan's URL Shortener</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
    button {
      margin-top: 1%;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <h1 class='text-center'>Stanley's URL Shortener</h1>
  <form id ='form' role='form'>
    <div class='container'>
      <hr>
      <div class='form-group'>
        <input class='form-control' placeholder='Enter the link you want to shorten' id='input'>
        <button type='submit' class='btn btn-primary pull-right'>Submit</button>
      </div>
    </div>
  </form>
  <script>
    $(document).ready(function(){
    $('#form').submit(function(){
      window.open('https://google.com', '_blank');
    })
  })
  </script>
</body>